#canvas_down
  {
    position:absolute;
    left:0px;
    top:0px;
  }
  #canvas_up
  {
    position:absolute;
    left:0px;
    top:0px;
  }
  #hostBtn
  {
    position:absolute;
    left:20px;
    top:10px;
  }
  #drawBtn
  {
    position:fixed;
    left:100px;
    top:10px;
  }
  .pdf
  {
    position:absolute;
    left:0px;
    top:0px;
  }
  #next
  {
    position:fixed;
    left:1013px;
    top:250px;
  }
  #last
  {
    position:fixed;
    left:0px;
    top:250px;
  }