.question{
    height: 34px;
    line-height: 34px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
}

/*弹出框样式*/
.pop-box{
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 50%;
    margin-left: -206px;
    margin-top: -187px;
    width: 412px;
    height: auto;
    min-height: 300px;
    padding: 0 14px 30px;
    border:1px solid #d1d1d1;
    border-radius: 5px;
    background-color: #fff;
    color: #666;
}
.box-header{
    position: relative;
    padding-top: 13px;
    line-height: 42px;
    border-bottom: 1px solid #e6e6e6;
}
.box-header p{
    font-size: 15px;
}
.close-popbox{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    color: #666;
}
.box-content{
    padding: 30px 60px 0;
}
.box-content-middle input{
    width: 254px;
    border: 1px solid #e8e8e8;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 8px;
}
.box-content-middle select{
    height: 42px;
    border: 1px solid #e8e8e8;
    width: 254px;
}
.box-content-button{
    text-align: center;
}
.box-content-button span{
    min-width: 100px;
    height: 33px;
    margin: 0 2px;
    padding: 0 10px;
    line-height: 33px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.box-content-button .ensure{
    background: #ff6700;
    border: 1px solid #ff6700;
    color: #fff;
}
.box-content-button .cancel{
    border: 1px solid #e8e8e8;
    color: #555;
}
.question-wrap{
    margin-bottom: 10px;
}
.close-popbox{
    cursor:pointer;
}

/*蒙版样式*/
#mask{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #333;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

/*修改成功弹窗样式*/
#success-box{
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 50%;
    margin-left: -206px;
    margin-top: -100px;
    width: 412px;
    height: auto;
    min-height: 200px;
    padding: 0 14px 30px;
    border:1px solid #d1d1d1;
    border-radius: 5px;
    background-color: #fff;
    color: #666;
}
.success-close{
    cursor: pointer;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    color: #666;
    margin-right: 10px;
}
.success-info{
    font-size: 25px;
    text-align: center;
    margin-top: 60px;
    color: #ff6700;
}
.return-index{
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}