<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name='keywords' content='WebRTC, HTML5, JavaScript' />
    <meta name='description' content='WebRTC Reference App' />
    <meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
    <base target='_blank'>
    <title>WebRTC client</title>
    <link rel='stylesheet' href='stylesheets/css/bootstrap.min.css' />
    <link rel='stylesheet' href="stylesheets/css/forgetPassword.css" >
</head>
<body>
<div class="container">
    <div style="width:700px;margin:0 auto;border:1px solid #dddddd;background-color:#fbfbfb;margin-top:40px;">
        <form class="form-horizontal wt-form ng-pristine ng-invalid ng-invalid-required" role="form" method="post"
              target="_self" style="margin:40px 20px;">
            <div class="single-panel-header">
                <h1>找回密码</h1>
                <DIV style="BACKGROUND:#dddddd; OVERFLOW: hidden; HEIGHT: 3px">&gt;</DIV>
            </div>
            <div style="border-top:1px solid #dddddd;margin:5px 0px;">
                <div class="form-group" style="margin-left: 4px;margin-top: 10px">
                    <div class="question"><span>账号</span>：</div>
                    <div>
                        <input type="text" class="form-control userId" style="width:500px;">
                    </div>
                </div>
                <div style="padding:20px 20px;">
                    <div class="questions-wrap" style="display: none">
                        <div class="form-group">
                            <div class="question question1"><span>您父亲的姓名</span>:</div>
                            <div>
                                <input type="text" class="form-control answer1" style="width:500px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="question question2"><span>您父亲的姓名</span>:</div>
                            <div >
                                <input type="text" class="form-control answer2" style="width:500px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="question question3"><span>您父亲的姓名</span>:</div>
                            <div>
                                <input type="text" class="form-control answer3" style="width:500px;">
                            </div>
                        </div>
                    </div>
                    <div class="error-info" style="color: red;font-size: 16px;display: none">cxz</div>
                    <div style="margin-left: 110px;">
                        <button id="button1" class="btn btn-group-sm btn-primary " type="button"
                                style="width:150px;font-size:18px;position: relative;top: 20px; ">确定
                        </button>
                        <button id="button2" class="btn btn-group-sm btn-primary " type="button"
                                style="width:150px;font-size:18px;position: relative;top: 20px;display: none; ">确定
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="pop-box" style="display: none">
        <div class="box-header">
            <p>修改密码</p>
            <div class="close-popbox">x</div>
        </div>
        <div class="box-content">
            <div class="box-content-middle">
                <dl>
                    <dt>新密码</dt>
                    <dd>
                        <input class="new-password" type="password" placeholder="输入新密码"/>
                    </dd>
                    <p class="password-error-tips" style="display: none"><img src="/images/error.png"/><span style="color:#ff6700;position: relative;top: 2px;margin-left: 4px;"></span></p>
                </dl>
            </div>
            <div class="box-content-button">
                <span class="ensure">确定</span>
                <span class="cancel">取消</span>
            </div>
        </div>
    </div>
    <!--修改成功弹窗-->
    <div id="success-box" style="display: none">
        <div class="success-close">x</div>
        <div class="success-info"><span>修改成功</span></div>
        <div class="return-index"><a href="/" target="_self">返回首页</a></div>
    </div>


    <!--蒙版-->
    <div id="mask" style="display: none">

    </div>
</div>

<script src='/javascripts/commonJS/jquery.js'></script>
<script src='/javascripts/myjs/forgetPassword.js'></script>
</body>
</html>